*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid black;
}

.header > button{
    height: 30px;
    width: 60px;
    padding: 4px;
    margin: 10px;
    background-color: #e60023;
    border-radius: 40%;
    border: none;
}

#logo{
    width: 80px;
}

.nav-items > ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.nav-items > ul > li{
    padding: 10px;
}

.header > .nav-items > ul > a > li{
    gap: 10px;
    list-style: none;
}

.search-container{
    margin: 10px;
}

.search-input, .search-btn{
    padding: 10px;
}

.restaurantList{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.shimmy{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 70px;
}

.shimmer_card{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: lightgray;
    border: none;
}

.card > img{
    width: 100%;
}

.ErrorModule{
    margin: auto;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about > .top{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact > .topContact{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}